Source: gnome-chemistry-utils
Section: devel
Priority: optional
Maintainer: Daniel Leidert (dale) <daniel.leidert@wgdd.de>
Build-Depends: debhelper (>= 4.0.0), autoconf, automake1.7, autotools-dev, dpatch, intltool, libtool, doxygen, docbook-xsl, xsltproc, libbonoboui2-dev (>= 2.4.0), libglade2-dev (>= 2.4.0), libgnomeprint2.2-dev (>= 2.4.0), libgnomeui-dev (>= 2.4.0), libgnomevfs2-dev (>= 2.4.0), libgtk2.0-dev, libgtkglext1-dev (>= 1.0.0), libopenbabel-dev (>= 1.100.2), zlib1g-dev
Build-Conflicts: autoconf2.13, automake1.4
Standards-Version: 3.6.1.1

Package: libgchemutils0
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Description: GNOME chemistry utils (library)
 The GNOME Chemistry Utils provide C++ classes and Gtk+-2 widgets
 related to chemistry. They will be used in future versions of both
 gcrystal and gchempaint.
 .
 See http://www.nongnu.org/gchemutils/.
 .
 This package contains the shared library.

Package: libgchemutils-dev
Architecture: any
Section: libdevel
Depends: libgchemutils0 (>= ${Source-Version}), libgtk2.0-dev (>= 2.6.0)
Suggests: libgchemutils-doc
Description: GNOME chemistry utils (development version)
 The GNOME Chemistry Utils provide C++ classes and Gtk+-2 widgets
 related to chemistry. They will be used in future versions of both
 gcrystal and gchempaint.
 .
 See http://www.nongnu.org/gchemutils/.
 .
 This package contains the static library and the header files.

Package: libgchemutils-doc
Architecture: any
Section: doc
Depends: libgchemutils0 (>= ${Source-Version}), gchemutils
Suggests: lynx | www-browser
Description: GNOME chemistry utils (documentation)
 The GNOME Chemistry Utils provide C++ classes and Gtk+-2 widgets
 related to chemistry. They will be used in future versions of both
 gcrystal and gchempaint.
 .
 See http://www.nongnu.org/gchemutils/.
 .
 This package contains the documentation and some sample test files.

Package: gchemutils
Architecture: any
Section: misc
Depends: ${shlibs:Depends}
Conflicts: libgchemutils-data
Replaces: libgchemutils-data
Suggests: chemicalmime, mozilla-bonobo, gchempaint, gcrystal
Description: GNOME chemistry utils (common test files and binaries)
 The GNOME Chemistry Utils provide C++ classes and Gtk+-2 widgets
 related to chemistry. They will be used in future versions of both
 gcrystal and gchempaint.
 .
 See http://www.nongnu.org/gchemutils/.
 .
 This package contains a viewer application (gchem3d-viewer), which shows
 chemical/x-pdb, chemical/x-mdl-molfile and chemical/x-xyz files, and a
 bonobo server (gchem3d).
