Source: gchemutils
Section: devel
Priority: optional
Maintainer: Daniel Leidert (dale) <daniel.leidert@wgdd.de>
Build-Depends: debhelper (>= 4.0.0), gawk, autoconf, automake1.7, autotools-dev, binutils, docbook-xsl, intltool, libtool, xsltproc, libart-2.0-dev, libatk1.0-dev, libaudiofile-dev, libfontconfig1-dev, libbonobo2-dev, libbonoboui2-dev, libc6-dev (>= 2.3.2.ds1-16), libesd0-dev, libfreetype6-dev, libgconf2-dev, libgcrypt11-dev, libglade2-dev, libglib2.0-dev, libgnome2-dev, libgnomecanvas2-dev, libgnomeprint2.2-dev, libgnomevfs2-dev, libgnutls11-dev, libgpg-error-dev, libgtk2.0-dev, libgtkglext1-dev, libice-dev, libopenbabel-dev, liborbit2-dev, libpango1.0-dev, libpopt-dev, libsm-dev, libstdc++5-3.3-dev, libtasn1-2-dev, libtool, libx11-dev, libxml2-dev, libxmu-dev, libxt-dev, xlibmesa-gl-dev, xlibmesa-glu-dev, zlib1g-dev
Standards-Version: 3.6.1.1

Package: libgchemutils0
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Description: GNOME chemistry utils (library)
 The GNOME Chemistry Utils provide C++ classes and Gtk+-2 widgets
 related to chemistry. They will be used in future versions of both
 gcrystal and gchempaint.
 .
 See http://www.nongnu.org/gchemutils/.
 .
 This package contains the shared library.

Package: libgchemutils-dev
Architecture: any
Section: libdevel
Depends: libgchemutils0 (>= ${Source-Version})
Suggests: libgchemutils-doc
Description: GNOME chemistry utils (development version)
 The GNOME Chemistry Utils provide C++ classes and Gtk+-2 widgets
 related to chemistry. They will be used in future versions of both
 gcrystal and gchempaint.
 .
 See http://www.nongnu.org/gchemutils/.
 .
 This package contains the static library and the header files.

Package: libgchemutils-doc
Architecture: any
Section: doc
Depends: lynx | www-browser
Description: GNOME chemistry utils (documentation)
 The GNOME Chemistry Utils provide C++ classes and Gtk+-2 widgets
 related to chemistry. They will be used in future versions of both
 gcrystal and gchempaint.
 .
 See http://www.nongnu.org/gchemutils/.
 .
 This package contains the documentation.

Package: gchemutils
Architecture: any
Section: misc
Depends: ${shlibs:Depends}
Conflicts: libgchemutils-data
Replaces: libgchemutils-data
Suggests: chemicalmime
Description: GNOME chemistry utils (common test files and binaries)
 The GNOME Chemistry Utils provide C++ classes and Gtk+-2 widgets
 related to chemistry. They will be used in future versions of both
 gcrystal and gchempaint.
 .
 See http://www.nongnu.org/gchemutils/.
 .
 This package contains some common files for testing the runtime libraries.
